<template>
  <div class="home">
    <HelloWorld msg="The SXD Vue-based Portal Prototype" />
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from "@/components/HelloWorld.vue";

export default {
  name: "home",
  components: {
    HelloWorld
  }
};
</script>

<style lang="scss" scoped></style>
