<template>
  <div class="lod-upload">
    <div>
      <h2>Letter of Direction (LOD)</h2>
      <p>
        SoundExchange accepts Letters-of-Direction (LOD) from directly
        registered featured artists who wish to divert a portion of their
        payment to a third party who was a creative participant on specific
        recordings. Typically SoundExchange will only honor an LOD which directs
        a percentage to a producer, mixer, or engineer.
      </p>
      <p>
        For your convenience, this section of SoundExchange Direct allows you to
        upload LODs related to specific registrant accounts that you have access
        to.
      </p>
      <ul>
        <li>
          Download and complete the Letter of Direction form and LOD Repertoire
          Sheet
        </li>
        <li>Remember an LOD is incomplete if it does not include both parts</li>
        <li>
          Looking for more information about Letters of Direction, check out the
          FAQ
        </li>
      </ul>
    </div>
    <div>
      <b-button-group>
        <b-button v-on:click="isAMP = false" :pressed="!isAMP"
          >Standard LOD</b-button
        >
        <b-button v-on:click="isAMP = true" :pressed="isAMP"
          >AMP Pre-1995</b-button
        >
      </b-button-group>
    </div>
    <br />
    <div v-if="isAMP">
      <b>AMP Specific Information</b>
      <ul>
        <li>
          If you are submitting LOD(s) for pre-1995 recordings, check out our
          Guide to Pre-1995 Recordings Letters of Direction
        </li>
        <li>
          For pre-1995 AMP Default Allocation applications (who have not
          obtained an Artist signature or decline/objection after 120 days of
          reasonable attempts to contact them) download and complete the “Amp
          Act Certification” form. Note - this form must be notarized.
        </li>
        <li>Select the Registrant for which you wish to submit the LOD</li>
        <li>
          Upload the LOD, LOD Repertoire Sheet, Amp Act Certification form, and
          any pertinent contracts relating to the applicable recordings.
        </li>
      </ul>
    </div>
    <div v-if="isComposed">
      <p>
        This form is using the composition API (Warning: this is still an RFC
        and the API may change and docs are limited)
      </p>
      <LODForm3 v-bind:showAMPFields="isAMP" />
    </div>
    <div v-else>
      <p>This form is using the traditional Vue API</p>
      <LODForm2 v-bind:showAMPFields="isAMP" />
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import LODForm2 from "@/components/LOD/LODForm2.vue";
import LODForm3 from "@/components/LOD/LODForm3.vue";

export default {
  name: "LODUpload",
  data() {
    return {
      isAMP: false,
      buttons: [
        { caption: "Standard LOD", state: true },
        { caption: "AMP Pre 1995", state: false }
      ]
    };
  },
  props: {
    isComposed: Boolean
  },
  components: { LODForm2: LODForm2, LODForm3: LODForm3 }
};
</script>

<style lang="scss" scoped></style>
