<template>
  <form @submit.prevent="handleSubmit">
    <div>
      <label>
        <b>Payee*</b>
      </label>
      <b-form-select v-model="payee" :options="options"></b-form-select>
    </div>
    <br />
    <div>
      <label>
        <b>Artist Name*</b>
      </label>
      <b-form-input v-model="artist" placeholder="Artist Name"></b-form-input>
    </div>
    <br />
    <div>
      <label>
        <b>Artist LOD Form*</b>
      </label>
      <b-form-file
        v-model="lodForm"
        v-bind:state="Boolean(lodForm)"
        placeholder="Choose a file or drop it here..."
        drop-placeholder="Drop file here..."
      ></b-form-file>
    </div>
    <br />
    <div>
      <label>
        <b>Artist LOD Repertoire Sheet*</b>
      </label>
      <b-form-file
        v-model="lodRep"
        v-bind:state="Boolean(lodRep)"
        placeholder="Choose a file or drop it here..."
        drop-placeholder="Drop file here..."
      ></b-form-file>
    </div>
    <br />
    <div v-if="showAMPFields">
      <label>
        <b>AMP Act Certification*</b>
      </label>
      <b-form-file
        v-model="ampCert"
        v-bind:state="Boolean(ampCert)"
        placeholder="Choose a file or drop it here..."
        drop-placeholder="Drop file here..."
      ></b-form-file>
    </div>
    <br />
    <b-button type="submit" variant="primary">Submit</b-button>
  </form>
</template>

<script>
export default {
  name: "LODForm2",
  data() {
    return {
      options: [
        { value: null, text: "Please select an option" },
        { value: "SX1101FW98", text: "1400 Entertainment Inc." },
        { value: "SX1100DTRG", text: "Adam Anders" },
        { value: "SX101FWI71", text: "Adam Levine" },
        { value: "SX1019JQBI", text: "Andre 3000, Inc.", disabled: true }
      ],
      payee: null,
      artist: null,
      lodForm: null,
      lodRep: null,
      ampCert: null
    };
  },
  props: {
    showAMPFields: Boolean
  },
  methods: {
    handleSubmit: function() {
      this.$store.commit("clearStatusMsgs");
      if (this.payee) {
        this.$router.push({ name: "home" });
        this.$store.commit("addStatusMsg", {
          message: "Not a great artist",
          variant: "warning"
        });
        this.$store.commit("addStatusMsg", {
          message: "You submitted it",
          variant: "success"
        });
      } else {
        this.$store.commit("addStatusMsg", {
          message: "Bad Payee",
          variant: "danger"
        });
      }
    }
  }
};
</script>

<style lang="scss" scoped></style>
