<template>
  <form @submit.prevent="handleSubmit">
    <div>
      <label>
        <b>Payee*</b>
      </label>
      <b-form-select
        v-model="formData.payee"
        :options="options"
      ></b-form-select>
    </div>
    <br />
    <div>
      <label>
        <b>Artist Name*</b>
      </label>
      <b-form-input
        v-model="formData.artist"
        placeholder="Artist Name"
      ></b-form-input>
    </div>
    <br />
    <div>
      <label>
        <b>Artist LOD Form*</b>
      </label>
      <b-form-file
        v-model="formData.lodForm"
        v-bind:state="Boolean(formData.lodForm)"
        placeholder="Choose a file or drop it here..."
        drop-placeholder="Drop file here..."
      ></b-form-file>
    </div>
    <br />
    <div>
      <label>
        <b>Artist LOD Repertoire Sheet*</b>
      </label>
      <b-form-file
        v-model="formData.lodRep"
        v-bind:state="Boolean(formData.lodRep)"
        placeholder="Choose a file or drop it here..."
        drop-placeholder="Drop file here..."
      ></b-form-file>
    </div>
    <br />
    <div v-if="showAMPFields">
      <label>
        <b>AMP Act Certification*</b>
      </label>
      <b-form-file
        v-model="formData.ampCert"
        v-bind:state="Boolean(formData.ampCert)"
        placeholder="Choose a file or drop it here..."
        drop-placeholder="Drop file here..."
      ></b-form-file>
    </div>
    <br />
    <b-button type="submit" variant="primary">Submit</b-button>
  </form>
</template>

<script>
import { createComponent, reactive, ref } from "@vue/composition-api";

export default createComponent({
  name: "LODForm3",
  props: {
    showAMPFields: Boolean
  },
  setup(_, context) {
    // Hack to access the router and the store in the old ways
    // These libs will add hook support when the composition API is final
    const thisRouter = context.root.$router;
    const thisStore = context.root.$store;

    const createFormData = () =>
      reactive({
        payee: null,
        artist: null,
        lodForm: null,
        lodRep: null,
        ampCert: null
      });

    const formData = ref(createFormData());

    const options = ref([
      { value: null, text: "Please select an option" },
      { value: "SX1101FW98", text: "1400 Entertainment Inc." },
      { value: "SX1100DTRG", text: "Adam Anders" },
      { value: "SX101FWI71", text: "Adam Levine" },
      { value: "SX1019JQBI", text: "Andre 3000, Inc.", disabled: true }
    ]);

    const handleSubmit = () => {
      thisStore.commit("clearStatusMsgs");
      if (formData.value.payee) {
        thisRouter.push({ name: "home" });
        thisStore.commit("addStatusMsg", {
          message: "Not a great artist",
          variant: "warning"
        });
        thisStore.commit("addStatusMsg", {
          message: "You submitted it",
          variant: "success"
        });
      } else {
        thisStore.commit("addStatusMsg", {
          message: "Bad Payee",
          variant: "danger"
        });
      }
    };

    return {
      formData,
      options,
      handleSubmit
    };
  }
});
</script>

<style lang="scss" scoped></style>
