<template>
  <div id="app">
    <div id="header">
      <img alt="SX logo" src="@/assets/sx_logo.png" />
      <div id="nav">
        <router-link to="/">Home</router-link>&nbsp;|&nbsp;
        <b>Settings</b>&nbsp;|&nbsp; <b>My Catalog</b>&nbsp;|&nbsp;
        <router-link to="/lod2">LOD2</router-link>&nbsp;|&nbsp;
        <router-link to="/lod3">LOD3</router-link>&nbsp;|&nbsp;
        <b>Contact</b>&nbsp;|&nbsp;
        <b>FAQ</b>
      </div>
      <b-alert
        dismissible
        v-bind:key="msg.message"
        v-for="msg of statusMsgs()"
        show
        v-bind:variant="msg.variant"
        >{{ msg.message }}</b-alert
      >
    </div>
    <router-view />
  </div>
</template>

<script>
export default {
  methods: {
    statusMsgs: function() {
      const msgs = this.$store.getters.getStatusMsgs;
      this.$store.commit("zombieStatusMsg");
      return msgs;
    }
  },
  watch: {
    $route() {
      this.$store.commit("clearStatusMsgs");
    }
  }
};
</script>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  text-align: left;
  margin: 20px;
}

#nav {
  padding-bottom: 10px;
  font-size: 2em;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
  b {
    color: #6c757d;
  }
}
#header {
  padding-bottom: 10px;
}
</style>
